<!-- <h1 class="text-white text-center">Ajouter un album</h1>
<div class="container-sm text-center"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <form (ngSubmit)="onSubmit()">
        <div class="form-group my-4 text-white">
            <input formControlName="name" type="text" class="form-control" placeholder="Nom de l'album">
            <div *ngIf="name"></div>
        </div>
        <div class="form-group my-4 text-white">
            <input formControlName="title" type="text" class="form-control" placeholder="Titre de l'album">
            <div *ngIf="title"></div>
        </div>
        <div class="form-group my-4 text-white">
            <input formControlName="duration" type="text" class="form-control" placeholder="Durée de l'album">
            <div *ngIf="duration"></div>
        </div>
        <div class="form-group my-4 text-white">
            <input FormControlName="ref" type="text" class="form-control" placeholder="Ref">
            <div *ngIf="ref"></div>
        </div>
        <div class="form-group my-4 text-white">
            <textarea formControlName="description" type="text" class="form-control"
                placeholder="Description"></textarea>
            <div *ngIf="description"></div>
        </div>
        <button type="submit" class="btn btn-primary w-25 text-centerm my-4 d-flex justify-content-center">Add</button>
    </form>
</div> -->